*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}


.light{
    background-image: linear-gradient(to right, rgb(245, 46, 11), rgb(162, 162, 34));
}

.dark{
    background-image: linear-gradient(to right, rgb(73, 0, 128) , rgb(17, 17, 49));
    color: white;
}

body.dark div.link,
body.dark #foto,
body.dark .toggle{
    border-color: white;
}

body.dark .link,
body.dark #foto{
    box-shadow: 5px 4px 6px rgba(255, 255, 255, 0.3);
}

body.dark .redes-sociais svg{
    color: white;
}


.foto_container{
    width: 130px;
    height: 130px;
    margin: 60px auto;
}

h1{
    margin-top: 10px;
    font-size: medium;
    font-weight: 300;
}

#foto{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3);
}

.toggle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px auto;
    
}

#toggle_button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0px auto;
}

.icons svg {
    cursor: pointer;
}

.links{
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 40%;
    margin: 20px auto;
    max-width: 500px;
}

.link{
    border: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}


.link:hover{
    transform: translateY(-2px);
    transition: 0.5s;
}

a{
    text-decoration: none;
}

.redes-sociais{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
}

.redes-sociais svg{
    width: 25px;
    height: 25px;
    color: black;
}

.redes-sociais svg:hover{
    transform: translateY(-2px);
    transition: 0.5s;
}